.title_u {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.logo {
    top: 0;
    margin: 0 auto;
    margin-top: -12px;
    padding-left: 278.2px;
}
.head_r{
    padding-right: 67px;

}

.h1title {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 44px;
    color: #FFFFFF;
}
.h2title {
    margin: 0 auto;
	font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.5);
}

.cont {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
}

.box {
    display: flex;
    width: 388px;
    height: 225px;
    justify-content: center;
    align-items: center; 
    background-color: #1D1E23;
    border-radius: 10px;
}
.box img {
    background: none;
    margin: auto;
}
.big_c {
    margin: 0 auto;
    margin-top:120px;
    margin-bottom: 80px;
}

.box:hover{
    background-image: linear-gradient(93.21deg, #FFCA66 -16.65%, #B6499B 57.85%, #5586C5 130.43%);
}
.borderbox {
    width: fit-content;
    margin: 20px 30px;
    background-image: linear-gradient(90deg, rgba(253,198,103,1) 23%, rgba(157,88,166,1) 49%, rgba(85,134,197,1) 79%);
    border-radius: 10px;
    padding: 2px;
}
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
}

@media (min-width: 51px) and (max-width: 648px) {
    
    .cont {
        flex-direction: column;
    }
    .h1title {
        font-size: 30px;
    }
    .head_r {
        margin-bottom: 80px;
        padding-right: 0;
    }
    .logo {
        margin: 0 0;
        margin-top: -12px;
        padding-left: 0;
    }
  }