* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121418;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.container {
    display: flex;
    flex-direction: column;

}

.head_r {
    position: relative;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
    justify-content: flex-end;;
    font-size: 10px;
    color: antiquewhite;
    margin-bottom: 150px;

}
.logo {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    top: 45px;
}
.editm {
    margin : auto 6px;
}
.cursor {
    cursor: pointer;
}
.editm p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.editm h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

#profile{
    height: fit-content;
    background-color: #FFA78D;
    border-radius: 6.66px;
}
.BHT {
    display: inline-block;
    border-radius: 14px;
    padding: 0 15px;
    height: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.BHT h1 {
    background-image : linear-gradient(90deg, rgba(253,198,103,1) 23%, rgba(157,88,166,1) 49%, rgba(85,134,197,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #ffff;
    margin-left: 10px;
    
}
.part1 {
    margin: 10px;
    padding-right: 15px;
    margin-top: 63px;
    margin-bottom: 40px;
    display: flex;

}
.table {
    width: 100%;
    height: fit-content;
    color: white;
    padding-left: 66px;
    padding-right: 100px;
    font-size: 20px;
    border-collapse: collapse;
}

#table1 {
    visibility :collapse;
}
#table2 {
    visibility :collapse;
}
#table3 {
    visibility :collapse;
}
#table4 {
    visibility :collapse;
}
.BHT_parrent {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 20px;
}
td {
    position: relative;
    text-align: start;
    min-height: max-content;
    min-width: max-content;
    padding: 30px;
    font-size: 12px;
    
}

.n_color {
    color : #FFCA66;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* font-size: 20px; */
    line-height: 44px;
}

.s_r1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    /* font-size: 22px; */
    line-height: 44px;
}
.table_f {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* font-size: 19px; */
}

.table_f_e {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 18px;     */
}
.notes {
  
    color : #E1957B;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    
}
.notes2 {
    
    
}

.border {
    border-bottom: 1px solid  rgba(255, 255, 255, 0.1); 
}
.border_l::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.1);

}
.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}
.arrow_d {
    cursor: pointer;
    padding: 17px;
    background-image: linear-gradient(104.01deg, #FFCA66 -44.48%, #B6499B 76.11%, #5586C5 193.6%);
    border-radius: 50px;
}
.content {
    width: 100%;
    background-image: linear-gradient(180deg, #FDC667 0%, #9D58A6 100%) ;
    padding: 2px;
    border-radius: 14px;
    margin-bottom: 50px;
}
.size_iconh {
    font-size: 22px;
    color: #404346;
}

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }

