* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;   
    background-color: black;
}
.header {
    display: flex;
    padding-right: 15px ;
    padding-left: 15px ;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    /* background-color: aqua; */
    margin-left: 106px;
    margin-top: 70px;
    margin-right: 106px;
}
.head_r {
    /* width: 60px;
    height: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    /* background-color: brown; */
    color: antiquewhite;
}
.logo {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}
.editm {
    margin-left: 6px;
    margin-right: 6px
}
#profile{
    background-color: #FFA78D;
    border-radius: 6.66px;
}